*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(to bottom,#f4fff7,#e6fff0);
    color:#222;
    line-height:1.6;
}

a{
    text-decoration:none;
    color:inherit;
}

/* NAVBAR */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:white;
    padding:14px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.nav-logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.nav-logo img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}

.nav-logo h2{
    color:#0d7a31;
}

.menu{
    display:flex;
    gap:22px;
}

.menu a{
    color:#0d7a31;
    font-weight:bold;
    position:relative;
}

.menu a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:3px;
    background:#16a34a;
    transition:0.4s;
}

.menu a:hover::after{
    width:100%;
}

/* HERO */

header{
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),

    url("https://images.unsplash.com/photo-1529390079861-591de354faf5?q=80&w=1974&auto=format&fit=crop");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;

    padding:90px 20px 40px;
}

.hero-content{
    animation:fadeUp 1.3s ease;
}

.hero-content h1{
    font-size:64px;
    margin-bottom:18px;
}

.hero-content p{
    font-size:23px;
    max-width:750px;
}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

/* BUTTONS */

.btn,
.glow-btn{
    display:inline-block;
    margin-top:25px;
    padding:15px 35px;

    background:
    linear-gradient(45deg,#16a34a,#22c55e);

    color:white;

    font-size:18px;
    font-weight:bold;

    border-radius:40px;

    transition:0.4s;

    box-shadow:0 0 15px rgba(34,197,94,0.6);
}

.btn:hover,
.glow-btn:hover{
    transform:scale(1.08);
    box-shadow:0 0 30px rgba(34,197,94,1);
}

/* SECTION */

section{
    padding:70px 8%;
}

.section-title{
    text-align:center;
    color:#0d7a31;
    font-size:38px;
    margin-bottom:35px;
}

/* ABOUT */

.about{
    background:white;
    padding:35px;
    border-radius:18px;
    box-shadow:0 5px 18px rgba(0,0,0,0.08);
    font-size:18px;
}

.about-images{
    display:flex;
    gap:25px;
    margin-top:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.about-images img{
    width:48%;
    height:420px;

    object-fit:cover;

    border-radius:22px;

    transition:0.5s;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.15);

    border:5px solid white;
}

/* Hover Effect */

.about-images img:hover{

    transform:
    scale(1.04)
    rotate(-10deg);

    box-shadow:
    0 15px 35px rgba(34,197,94,0.35);

}

/* CARDS */

.projects{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    width:320px;
    background:white;
    border-radius:18px;
    padding:22px;
    text-align:center;
    overflow:hidden;

    box-shadow:0 5px 18px rgba(0,0,0,0.08);

    transition:0.4s;
}

.card:hover{
     transform:
    scale(1.04)
    rotate(-5deg);

    box-shadow:
    0 15px 35px rgba(34,197,94,0.35);
}

.card img{
    width:100%;
    height:190px;
    object-fit:cover;
    border-radius:12px;
    margin-bottom:15px;
    transition:0.4s;
}

.card:hover img{
    transform:scale(1.05);
}

.icon{
    font-size:48px;
    margin-bottom:10px;
}

.card h2{
    font-size:20px;
}

.card h3{
    color:#0d7a31;
    margin:10px 0;
}

/* IMPACT */

.impact{
    background:#dcffe8;
    text-align:center;
}

.impact-boxes{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}

.impact-box{
    width:220px;
    background:white;
    padding:25px;
    border-radius:15px;
    font-weight:bold;

    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

/* STATS */

.stats{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    background:white;
}

.stat-box{
    width:220px;
    padding:30px;
    text-align:center;
    border-radius:18px;

    background:#16a34a;
    color:white;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.stat-box h1{
    font-size:42px;
}

/* SOCIAL */

.social-section{
    padding:70px 8%;
    text-align:center;
    background:white;
}

.social-links{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:30px;
}

.social-box{
    width:220px;
    background:#f4fff7;
    padding:25px;
    border-radius:18px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    box-shadow:0 4px 12px rgba(0,0,0,0.08);

    transition:0.4s;
}

.social-box:hover{
     transform:
    scale(1.04)
    rotate(22deg);

    box-shadow:
    0 15px 35px rgba(34,197,94,0.35);
}

.social-box img{
    width:55px;
    height:55px;
}

.social-box span{
    font-size:20px;
    font-weight:bold;
    color:#0d7a31;
}

/* CTA */

.cta{
    background:#0d7a31;
    text-align:center;
}

.cta-box{
    background:white;
    color:#222;

    padding:45px;

    border-radius:22px;

    max-width:850px;

    margin:auto;

    box-shadow:0 0 25px rgba(255,255,255,0.25);
}

.cta-box h2{
    color:#0d7a31;
    font-size:34px;
    margin-bottom:15px;
}

/* FOOTER */

footer{
    background:#062c18;
    color:white;
    text-align:center;
    padding:35px 8%;
}

footer h2{
    margin-bottom:10px;
}

footer a{
    color:#9cffbd;
    font-weight:bold;
}

/* MOBILE */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:10px;
    }

    .menu{
        flex-wrap:wrap;
        justify-content:center;
        gap:14px;
    }

    header{
        padding-top:150px;
    }

    .hero-content h1{
        font-size:38px;
    }

    .hero-content p{
        font-size:18px;
    }

    section{
        padding:50px 5%;
    }

    .card{
        width:100%;
    }

    .about-images img{
        width:100%;
    }
}